- @site_name = "My website"
%meta{:charset=>'utf-8'}
%title
  = page_title
- if @page_description
  %meta{:name => "description", :content => @page_description}
= stylesheets :screen
%script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
= javascripts('application')